body {
    background-image: url('../imagenes/plantilla.jpg');
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #A8DADC;
}

li {
    float: right;
    font-size: 23px;
    margin-top: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #A8DADC;
}